################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoolworthsWebAPI/bin
/WoolworthsWebAPI/.vs/WoolworthsWebAPI/v16
/WoolworthsWebAPI/obj
/.vs/WoolworthsWebAPI

/WoolworthsWebAPI/.config/dotnet-tools.json
/WoolworthsWebAPI/Properties/ServiceDependencies/WooliesXTechChallenge - Web Deploy/profile.arm.json
/WoolworthsWebAPI/Properties/ServiceDependencies/WoolworthWebAPI - Web Deploy/profile.arm.json
/WoolworthsWebAPI.Test/bin
/WoolworthsWebAPI.Test/obj